<header-bar></header-bar>

<main class="main-box">
  <div class="padding-top-div">
    <div class="login-box">
        <div class="login-wrapper">
            <div class="login-text-wrapper">
                <p class="login-text">
                    login
                </p>
            </div>
            <div class="login-fields wrapper">
            <div class="login-email-wrapper">
                <input type="email" placeholder="email"></input>
              </div>
              <div class="login-password-wrapper">
                <input type="password" placeholder="password"></input>
            </div>
          </div>
            <div class="login-submit-wrapper">
                <input class="button" id="login-button" type="submit"></input>
            </div>
        </div>
    </div>

    <div class="try-it-wrapper">
      <div class="try-it-box">
        <button ui-sref="add" id="try-it-out-button" class="button-primary try-it-out-button">
          Try It Out
        </button>
      </div>
    </div>
  </div>
</main>

<footer-bar></footer-bar>
